.navbar
  display: flex
  justify-content: space-around


.logo img
  height: 50px

.logo img:hover
  color: #dc7725

.navbar ul
  list-style-type: none
  margin: 0
  padding: 0
  overflow: hidden


.navbar li
  float: left
  letter-spacing: 2px

.navbar a
  font-family: fjalla
  line-height: 50px
  font-size: 15px

li a, .dropbtn
  display: inline-block
  color: white
  text-align: center
  padding: 0 16px
  text-decoration: none



li .dropdown:hover, .dropdown:hover .dropbtn
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  background: #404040 url('../img/btn-navarrow.png')
  background-repeat: no-repeat
  background-position: right
  padding-right: 30px


.dropdown
  display: inline-block
  background-image: url('../img/btn-navarrow.png')
  background-repeat: no-repeat
  background-position: right
  padding: 0 10px


.dropdown-content
  display: none
  position: absolute
  background-color: #404040
  min-width: 160px
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
  z-index: 1


.dropdown-content a
  color: #BDBDB7
  padding: 12px 16px
  text-decoration: none
  display: block
  text-align: left
  border-bottom: 0.5px solid #BDBDB7


.dropdown-content a:hover
  background-color: #f1f1f1

.dropdown:hover .dropdown-content
  display: block

.collage-navbar
  display: flex
  justify-content: space-around
  align-items: center
  height: 80px

.collage-navbar li
  display: inline-block
  line-height: 40px

#dropdown-collage
  border-left: 1px solid #5d5d5a
  margin-left: 15px
  padding-left: 15px
  & > a
    color: #dc7725

.search
  background: url("../img/btn-search.png") top right no-repeat
  padding-right: 30px
  padding-top: 10px


.search a
  color: #BDBDB7
  text-decoration: none
  &:hover
    color: #fff
